body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #025091, #71c5ee);
    height: 100vh;
    overflow: hidden;
    font-size: 20px;
}
.header{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
    height: 75px;
    margin: 0;
    padding: 0;
}
.cal{
    position: absolute;
    top: 20%;
    left: 15%;
}
td{
    text-align: center;
}
td:hover{
    background: #71c5ee;
}
.sched{
    position: absolute;
    top:20%;
    left:60%;
}
.change-month{
    position: absolute;
    top:12%;
    left:70%;
}